@charset "utf-8";
body {
  background: #f0f8ff;
  width: 980px;
  margin: 0 auto;
  /* margin: 0 auto  div要素を中央に揃える */
}

* {
  box-sizing: boder-box;
}

.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;   /* 文字を中央に揃える */
  position: relative; /* 相対位置　*/

}

.header {
  background: #e6e6fa;
  /* height: 100px; */
  padding: 50px 0;
}

.main {
  display: flex;   /* 親要素に指定するだけで両端揃えることできる　横並びにする*/
  height: 500px;
  width: 100%;
}


.sidemenu1 {
  background: #FFFFCC;
  /* min-height: 400px;   min-height  imgなどの領域の高さの最小値を指定する */
  /*height: 650px;*/

  padding: 200px 0;   /* padding 要素内の余白を設定 */
  order: 1;  /* 並び順を指定する*/
}

.maincontents {
  /*width: auto;*/
  width: 100%; 
  /*height: 500px;*/
  /*min-height: 100px;   /*min-height <div>、<p>など、内容領域における高さ最小値を指定するプロパティ */
  background: #fa8072;
  padding: 200px 0;   /* padding 要素内の余白を設定 */
  order: 2;  /* 並び順を指定する*/
}

.sidemenu2 {
  background: #0099FF;
  /* min-height: 400px;   min-height  imgなどの領域の高さの最小値を指定する */
  /*float: right;
  padding: 130px 0;*/
  padding: 200px 0;
  order: 3;  /* 並び順を指定する */
  
}

.footer {
  /* width: 100%; */
  /*height: 100px; */
  /*margin-top: 10px;*/
  /* text-align: center; */
  background: #add8eb;
  padding: 50px 0;

}

