<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>1カラム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- リセットCSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="style3.css">
</head>

<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <main class="main">
      <div class="sidemenu1">
        <ul>
          <li>item1</li>
          <li>item2</li>
          <li>item3</li>
          <li>item4</li>
          <li>item5</li>
        </ul>
      </div>
      <div class="maincontents">
        <div class="text">
          <ul>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>
        <div class="list margin">
          <ul>
            <li>サブタイトル</li>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li>サブタイトル</li>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ul>
        </div>
      </div>
      <div class="sidemenu2">バナー画像</div>
    </main>
    <footer class="footer">フッター</footer>
  </div>
</body>

</html>